
html{
    height : 100%;
    width : 100%;
}

body {
    background-color: black;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top : 100px;
    color : dodgerblue;
}


.maDiv{
    margin-top : 50px;
    margin-bottom : 50px;
}


#mainTitle {

    color : dodgerblue;
    border : solid 3px dodgerblue;;
    padding : 20px;
    font-size : 80px;
    font-weight :bold;


}

.ask {
    color : orange;
    border : solid 1px orange;
    font-size : 40px;
    display : inline-block;
    margin-bottom : 30px;
    padding: 10px;
}


#monAncre{
    display:block;
}


form {
    color : yellow;
    font-size : 20px;
}

label {
    display:inline-block;
    width:200px;

    margin : 10px;
    text-align: right;
}

input, select {
    height : 25px;
    text-align: center;

}


.error
 {
    font-size : 20px;
    color: red;
    /*background-color: red;*/
    border: solid 1px red;
    padding : 5px;
    animation: error 0.5s linear infinite;
}
@keyframes error {
    /* le premier % détermine en combien de temps il passe de 100% d opacité au x % d'opacité précisé par le deuxième %
        mettre 75% et 40% signifie qu il mettre 75% du nbr de secondes defini dans le champ animation de .error pour passer
        de 100% d opacité à 40% et il restera les 25% restants de secondes pour passer 40% d opacité à 100%
     */
    50% { opacity: 75%; }
}




aqa {
    display: inline-block;
    color : dodgerblue;
}


